body{
  background-color: black;
}

.page__first{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
}

p{
  color: white;
  font-family: Belda;
}

.hello{
  font-size: 50px;
  margin-bottom: 15px;
}

.descirption__pageone{
  font-size: 50px;
}

.first__div{
  position: absolute;
  z-index: 2;
}

.number__page{
  position: absolute;
  height: 70vh;
  width: 50vw;
  z-index: 0;
}

.number__page--1{
  font-family: Impact;
  font-size: 600px;
  color: #FFC94E;
}

.number__page--2{
  font-family: Impact;
  font-size: 600px;
  color: #FFC94E;
  transform: translateY(-600px);
}

.number__page--3{
  font-family: Impact;
  font-size: 600px;
  color: #FFC94E;
  transform: translateY(13vh) translateX(10vw);
}

.number__page--4{
  font-family: Impact;
  font-size: 600px;
  color: #FFC94E;
  transform: translateY(13vh) translateX(40vw);
}


.page__2{
  font-family: Impact;
  font-size: 600px;
  color: #FFC94E;
  transform: translateY(-600px);
}

#world{
  color: #AC8B3D;
  background-color: white;
  font-weight: bold;
  padding-left: 1vw; 
  padding-right: 1vw; 
  padding-top: 1vh;
}

.bold__elements{
  font-weight: 767;
}

.page1__line--1{
  position: absolute;
  background-color: white;
  height: 0.2vh;
  width: 0vw;
  transform: translateY(-70vh) translateX(99.8vw);
}

.page1__line--2{
  position: absolute;
  background-color: white;
  height: 0.2vh;
  width: 0vw;
  transform: translateY(-61vh);
}

.page1__line--3{
  position: absolute;
  background-color: white;
  height: 0vh;
  width: 0.2vw;
  transform: translateY(-2.8vh) translateX(70vw);
}

.page1__line--4{
  position: absolute;
  background-color: white;
  height: 0vh;
  width: 0.2vw;
  transform: translateY(-102.8vh) translateX(10vw);
}

.list__competence{
  z-index: 1;
  color: white;
  display: flex;
  justify-content: center;
  transform: translateY(-10vh); 
}

li{
  margin-right: 97px;
  font-size: 26px;
  font-family: Noir;
}

.gardient{
  position: absolute;
  background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1) 70%);
  height: 800vh;
  width: 100vw;
  transform: translateY(-100vh) translateX(0vw);
}

.gardient__of__slider{
  position: absolute;
  background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1) 70%);
  height: 90vh;
  width: 90vw;
  transform: translateY(-100vh) translateX(0vw);
}